<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="https://getbootstrap.com/docs/4.0/assets/img/favicons/favicon.ico">

    <title>Sticky Footer Navbar Template for Bootstrap</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/sticky-footer-navbar/">

    <!-- Bootstrap core CSS -->
    <link href="https://getbootstrap.com/docs/4.0/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="https://getbootstrap.com/docs/4.0/examples/sticky-footer-navbar/sticky-footer-navbar.css"
          rel="stylesheet">
    <link href="{{ url_for('static', filename= 'css/style.css') }}" rel="stylesheet">
</head>

<body>

<header>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="/">Game table</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">

            <form action="search_by_name" method="post" class="form-inline mt-2 mt-md-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search" name="search_name">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
</header>

<!-- Begin page content -->
<main role="main" class="container">
    <h1 class="mt-5"></h1>
    <p class="lead"></p>
</main>

<table class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
    <thead>
    <tr>
        <th class="th-sm">ID</th>
        <th class="th-sm">Created</th>
        <th class="th-sm">Name</th>
        <th class="th-sm">Rate</th>
        <th class="th-sm">Description</th>
        <th class="th-sm">Image</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <form action="/add_row" method="post">
            <td><input type="submit"></td>
            <td></td>
            <td><input type="text" name="name"></td>
            <td><input type="number" max="12" min="1" name="rate"></td>
            <td><textarea style="width: 100%; height: 100%;" rows="2" type="text" name="description"></textarea></td>
            <td><input type="text" name="image_link"></td>
        </form>
    </tr>
    {% for game in games %}
    <tr>
        {% for field in game %}
            {% if loop.first %}
                <td>{{ field }} | <a style="color: #5ccd56" href="/edit?id={{ field }}">edit</a>| <a style="color: #9C1A1C" href="/delete?id={{ field }}">del</a></td>
            {% elif loop.last %}
                <td><img src="{{ field }}" style="width: 150px;"></td>
            {% else %}
                <td>{{ field }}</td>
            {% endif %}
        {% endfor %}
    </tr>
    {% endfor %}
    </tbody>
    <tfoot>
    <tr>
        <th class="th-sm">ID</th>
        <th class="th-sm">Created</th>
        <th class="th-sm">Name</th>
        <th class="th-sm">Rate</th>
        <th class="th-sm">Description</th>
        <th class="th-sm">Image</th>
    </tr>
    </tfoot>
</table>

<footer class="footer">
    <div class="container">
        <span class="text-muted">Place sticky footer content here.</span>
    </div>
</footer>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="https://getbootstrap.com/docs/4.0/assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
<script src="https://getbootstrap.com/docs/4.0/assets/js/vendor/popper.min.js"></script>
<script src="https://getbootstrap.com/docs/4.0/dist/js/bootstrap.min.js"></script>
</body>
</html>
